.header{
  background-color: deepskyblue;
  color: whitesmoke;
  text-align: center;
}
.nav{
  background-color:turquoise;
  color: whitesmoke;
  text-align: center;
}
.content{
  background-color:teal;
  color: whitesmoke;
  text-align: center;
}
.footer{
  background-color:green;
  color: whitesmoke;
  text-align: center;
}
